.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
.venv311/

# Python build / packaging
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
coverage.xml

# Static analysis caches
.mypy_cache/
.ruff_cache/

# Editor directories and files
.vscode/
.idea/
.ropeproject/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store
**/.DS_Store

# ven folder
Ven312/
venv312/
.env
venv312/

# Generated output files
*.xlsx
*_temp.txt
